body {
	background-color:black;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
  font-family: "Chivo", sans-serif;
}

#time {
  font-size: 100px;
  /* border: 5px solid rgba(0,0,0,0.30); */
}
#time span {
  font-variant: small-caps;
  /* font-weight: 900 */
  font-size: 36px;
  vertical-align: middle;
}

p {
  text-transform: uppercase;
  font-weight: 900;
}

.txt{
	margin-top: 50px;
	font-size:24px;
	text-align: center;
	vertical-align: middle;
}

#background{
	position: absolute;
	left:0 ;
	right: 0;
	animation: blurup 3s forwards;
	background-position: center center;
	background-size: cover;
	height:100%;
}

.forground{
	color: white;
	width:100%;
	text-align: center;
	z-index:3;
	opacity:0;
	animation: fadein 2s 1.5s forwards;
}

.footer{
	background:rgba(0,0,0,0.30);
	position: fixed;
	bottom:0;
	left: 0;
	width:100%;
	text-align: center;
	font-size:24px;

}

.txt a {
	color: white;
}

.txt a:hover {
	color: #ffd754;
}

@keyframes fadein {
	0% {
		opacity:0;
		}
		
	100% {
		opacity:1;
		}
}

.reload {
	background-color:transparent;
	border-radius:28px;
	border:1px solid;
	border-color: rgba(255,255,255,0.5);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:16px 31px;
	text-decoration:none;
}
.reload:hover {
	background-color:transparent;
}
.reload:active {
	position:relative;
	top:1px;
}

#btn{
	margin-top:50px;
	text-align: center;
	vertical-align: middle;
}

@keyframes blurup {
	0% {
		filter: blur(0px) contrast(1) brightness(1);
		}
	
	100% {
		filter: blur(8px) contrast(1.3) brightness(0.7);
		}
}